 <!DOCTYPE html>
<html>

<head>
	<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> <!-- DataTables  
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/jquery.dataTables.min.js"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/1.1.0/math.min.js"></script>
	<script type="text/javascript" src="controller_angular.js"></script>
	<link href="table_style.css" rel="stylesheet" type="text/css">
	<!--<style>
	  .my-input {
	    -webkit-transition:all linear 0.5s;
	    transition:all linear 0.5s;
	    background: transparent;
	  }
	  .my-input.ng-invalid {
	    color:white;
	    background: red;
	  }-->
	</style>
</head>
<body>
<div ng-app="changeExample">
	<div ng-controller="ExampleController">
	<input ng-model="funcion" class="my-input"  ng-change="change()" />
	<input ng-model="nro_puntos" class="my-input" ng-change="change()"/><br><br>
	<table  class="hovertable" >
		<thead>
			<th>Valores-></th>
			<th>Evaluacion normal</th>
		</thead>
		<thead>
			<th>Llave</th>
			<th>Valor</th>
		</thead>
		<tr ng-repeat="x in resultados">
			<td>{{x.key}}</td>
			<td>{{x.value}}</td>
		</tr>
	</table>
	<table  class="hovertable">
		<thead>
			<th>Valores-></th>
			<th>Evaluacion Lagrange</th>
		</thead>
		<thead>
			<th>Llave</th>
			<th>Valor</th>
		</thead>
		<tr ng-repeat="x in resultados_lagrange">
			<td>{{x.key}}</td>
			<td>{{x.value}}</td>
		</tr>
	</table><br><br>
	<table  class="hovertable">
		<thead>
			<th>Valores-></th>
			<th>Error</th>
		</thead>
		<thead>
			<th>Llave</th>
			<th>Valor</th>
		</thead>
		<tr ng-repeat="x in errores">
			<td>{{x.key}}</td>
			<td>{{x.value}}</td>
		</tr>
	</table><br><br>
	<!--<div ng-controller="Ctrl">
        <table my-table options="options"></table>
    </div>-->
		<canvas id="myCanvas" width="500" height="500" style="border:1px solid #c3c3c3;">
			Your browser does not support the HTML5 canvas tag.
		</canvas>
	</div>

	<!--Input pruebas regex
 <input ng-model="val" ng-pattern="/^\d+$/" name="anim" class="my-input" />-->
  </div>
</body>
</html>

  


